{% load static %}
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dev.Sticker$</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <img src="{% static './assets/logo.svg' %}" alt="Logo Dev Finance">
    </header>

    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balanço</h2>

            <div class="card">
                <h3>
                    <span>Stickers em estoque</span>
                    <img src="{% static './assets/income.svg' %}" alt="Image de entradas">
                </h3>
                <div class="novo-estoque">
                    <p>{{ total_estoque }}</p>
                    <a onclick="ModalEstoque.open()" href="#" class="card-link"><h1>Novo</h1></a>
                </div>
            </div>

            <div class="card">
                <h3>
                    <span>Stickers Vendidos</span>
                    <img src="{% static './assets/expense.svg' %}" alt="Image de saidas">
                </h3>
                <p>
                    {% if quantidade_vendidos == None %}
                        Zero!!
                    {% else %}
                        {{ quantidade_vendidos }}
                    {% endif %}
                </p>
            </div>
            
            <div class="card total">
                <h3>
                    <span>Total Vendidos</span>
                    <img src="{% static './assets/total.svg' %}" alt="Image de total">
                </h3>
                <p>
                    {% if valor_total == None %}
                        Zero!!
                    {% else %}
                        R$ {{ valor_total }}
                    {% endif %}
                </p>
            </div>
        </section>

        <section id="transaction">
            <h2 class="sr-only">Transações</h2>

            <a onclick="Modal.open()" href="#" class="button new">+ Nova Venda</a>

            <a class="button new logout" href="/accounts/logout">Logout</a>

            <table id="data-table">
                <thead>
                    <tr>
                        <th>Data venda</th>
                        <th>Vendidos</th>
                        <th>Valor por unidade</th>
                        <th>Valor total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sticker in stickers %}
                        <tr>
                            <td class="description">{{ sticker.data_venda }}</td>
                            <td class="income">{{ sticker.quantidade_vendidos }}</td>
                            <td class="description">R$ {{ sticker.valor_unidade }}</td>
                            <td class="description">R$ {{ sticker.valor_total }}</td>
                            <td>
                                <a href="{% url 'excluir_venda' sticker.id %}">
                                    <img src="{% static './assets/minus.svg' %}" alt="Remover venda">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <div class="modal-overlay">
        <div class="modal">
            <div id="form">

                <h2>Cadastrar nova venda</h2>

                {% if form.errors %}
                    {% for field in form %}

                        {% for error in field.errors %}
                                {{field.label}}: {{ error|escape }}
                        {% endfor %}

                    {% endfor %}
                {% endif %}

                <form method="POST">{% csrf_token %}
                    <div class="input-group">
                        <label class="sr-only" for="description">Quantidade vendidos</label>
                        {{ form.quantidade_vendidos }}
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="description">Valor por unidade</label>
                        {{ form.valor_unidade }}
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="date">Data venda</label>
                        {{ form.data_venda }}
                    </div>

                    <div class="input-group actions">
                        <a onclick="Modal.close()" href class="button cancel">Cancelar</a>
                        <button type="submit" name="venda">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-overlay" id="modal2">
        <div class="modal">
            <div id="form">

                <h2>Novo valor de estoque</h2>

                {% if form.errors %}
                    {% for field in form %}

                        {% for error in field.errors %}
                                {{field.label}}: {{ error|escape }}
                        {% endfor %}

                    {% endfor %}
                {% endif %}

                <form method="POST">{% csrf_token %}
                    <div class="input-group">
                        <label class="sr-only" for="description">Valor estoque</label>
                        <input type="number" name="estoque-quantidade" id="description" placeholder="Digite Valor">
                    </div>
                    <div class="input-group actions">
                        <a onclick="Modal.close()" href class="button cancel">Cancelar</a>
                        <button type="submit" name="estoque">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>dev.Sticker$</p>
    </footer>

    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }
        const ModalEstoque = {
            open() {
                document.querySelector('#modal2').classList.add('active')
            },
            close() {
                document.querySelector('#modal2').classList.remove('active')
            }
        }
    </script>

</body>
</html>